$font: Helvetica, sans-serif;

$font-color: #222;

$font-header-weight: 800;
$font-alert-weight: 800;

$success-color: #b7c11e;
$warning-color: #23a38f;
$error-color: #f0563d;

$shadow-color: rgba(0, 0, 0, .2);

